   .orderTableNavWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
   }
   .orderTableNav{
    display: flex;
    flex-direction: row;
   }
   .inputWrapper{
    display: flex;
    border:1px solid black;
    input{
        border:none;
        &:focus{
          border: none;
          outline: none;
        }
      }
    i{
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 7px;
        margin-bottom: 6px;
    }
    i{
        margin-top: 5px;
       }
   }
   .m-10{
    margin-right: 10px;
   }
   .btn-cancel{
    border:none;
    background: transparent;
   }
   .cross{
    margin-top: 6px;
    margin-right: 5px;
   }
 
   table  {
    tr {
      background: white;
      height: 35px;
      border-bottom: 1px solid grey;

    }
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  